
*.a
*.o
*.lil
*.s
*.txt
qasm.asm
qcalc
qmtst
qparanoi
qasm.s.*
bern.c
*.swp
agm.c
complex.c
fp2bin.c
qmtst
qtime*
repro1.c
transform.c
qcalc-*
qtens-bigendian.h
*gcc
tsqrt
test/
asm-dev/
boost/
nn*
statslib/test
mulders
AlgRemez
doc/
